<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>Search OP.GG...</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $("#searchChampionTextbox").on("keyup", function() {
                var searchChampionText = $("#searchChampionTextbox").val();
                $("#searchChampionTextbox").focus(function(){
                  $(".championDiv").show();
                });
                $(".championDiv").hide();
                $(".championDiv[name*='"+searchChampionText+"']").show();
            });
        });
    </script>
    <style>
    </style>
</head>
<body>
    <div class="alert alert-success" style="position: fixed;z-index: 2;width: 160px; bottom: 10px">
		<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">
		&times;
	</button>
	<a href="/b4" class="alert-link">丑一点的 Bootstrap 4</a>
</div>

    <div class="container panel panel-default" style="margin-top: 20px " >
      <div class="panel-body">
          <input type="text" class="form-control input-lg" id="searchChampionTextbox" placeholder="查询英雄...">
      </div>
    </div>


    <div class="container">
    <div class="row" id="champions">
        {% for championJson in heroList["hero"] %}
            {% if championJson["alias"] in championNickname %}
                <div class="col-lg-2 col-sm-4 col-lg-3 col-xs-6 championDiv" id="{{championJson["alias"]}}" name="{{championNickname[championJson["alias"]]}} championJson">
            {% else %}
                <div class="col-lg-2 col-sm-4 col-lg-3 col-xs-6 championDiv" id="{{championJson["alias"]}}" name="{{ championJson["title"] }} {{ championJson["name"] }}">
            {% endif %}
             <div class="thumbnail" style="position: relative;">
                 <img src="//game.gtimg.cn/images/lol/act/img/champion/{{championJson["alias"]}}.png" class="img-rounded" style="margin-top:20px;width: 50px";height="50px">
                 <div class="caption" style="margin: -82px -10px 10px;position: absolute;">
                 {% for role in championJson["roles"] %}
                     {% if role == "mage" %}
                         <span class="label label-info">法师</span>
                     {% else %}
                     {% if role == "tank" %}
                         <span class="label label-warning">坦克</span>
                     {% else %}
                     {% if role == "fighter" %}
                         <span class="label label-success">战士</span>
                     {% else %}
                     {% if role == "assassin" %}
                         <span class="label label-danger">刺客</span>
                     {% else %}
                     {% if role == "support" %}
                         <span class="label label-default">辅助</span>
                     {% else %}
                     {% if role == "marksman" %}
                         <span class="label label-primary">射手</span>
                     {% else %}
                         <span class="label label-default">{{role}}</span>
                     {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                 {% endfor %}
                 </div>
                 <div class="caption text-center" style="margin-top: -10px; margin-bottom: 0px">
                    <h5 class="championNameinDiv text-center">{{championJson["name"]}}</h5>
                    <div class="championInfoinDiv">
                        <a class="btn btn-primary" href="/brief?championName={{championJson["alias"]}}" role="button">详情</a>
                        <a class="btn btn-default" href="/rune?championName={{championJson["alias"]}}" role="button">符文</a>
                        <!--<a class="btn btn-default" href="/item?championName={{championJson["alias"]}}" role="button">物品</a> -->
                    </div>
                  </div>
                </div>
            </div>

        {% endfor %}
    </div>
    </div>
<ol class="container breadcrumb">
  <li><a href="https://www.dispnt.com">dispnt.com</a></li>
  <li><a href="https://op.gg">OP.GG</a></li>
  <li class="active">opgg.dispnt.com</li>
</ol>
</body>

</html>